:root {
            --primary-color: #007bff;
            --secondary-color: #000;
            --highlight-color: #ffffff;
            --background-image-url: url('https://i.postimg.cc/Dfbstc6p/Milstone-Hero12000.jpg');
            --font-family: Arial, sans-serif;
            --label-font-size: 1.5rem;
            --section-bg-color: #86B6F6;
            --card1-color: #8E3E63;
            --card2-color: #D2649A;
            --card3-color: #AD88C6;
            --card4-color: #640D6B;
            --card5-color: #176B87;
            --card6-color: #640D6B;
        }

        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: var(--font-family), sans-serif;
            background-color: #111;
            color: #fff;
            scroll-behavior: smooth;
        }

        .background-image {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: var(--background-image-url) no-repeat center center fixed;
            background-size: cover;
            filter: blur(15px); /* Add blur effect */
        }

        .overlay {
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5vh;
            text-align: center;
            position: relative;
            min-height: 100vh;
        }

        .container {
            max-width: 1200px;
            padding: 20px;
            z-index: 1;
            color: var(--secondary-color);
        }

        h1 {
            color: #fff;
            font-size: 4rem;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 20px;
            animation: appearTitle 3s forwards;
            opacity: 0;
        }

        @keyframes appearTitle {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .description {
            margin-top: 10px;
            font-size: 1.2rem;
            font-weight: normal;
            color: #ffffff;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            animation: appearDescription 4s forwards;
            opacity: 0;
        }

        @keyframes appearDescription {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        p {
            color: var(--secondary-color);
            margin-top: 20px;
        }

        .cta-button {
            display: inline-block;
            padding: 15px 30px;
            background-color: #007bff; /* Blue background color */
           color: #ffffff; /* White text color */
            text-decoration: none;
            border-radius: 50px;
            margin-top: 30px;
            transition: background-color 0.3s ease;
            font-size: 1.2rem;
            animation: appearButton 5s forwards;
            opacity: 0;
        }

        @keyframes appearButton {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .cta-button:hover {
            background-color: #0056b3;
        }


        .faq-title {
            margin-bottom: 10px;
        }

        .faq-card {
            background-color: #f9f9f9;
            color: #333;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
            transition: all 0.3s ease;
        }

        .faq-card:first-child {
            margin-top: 30px;
        }

        .faq-card:hover {
            transform: scale(1.01);
        }

        .faq-answer {
            display: none;
            padding: 20px;
            border-top: 1px solid #ddd;
            color: #000;
        }

        .card-header {
            padding: 20px;
            font-size: 1.3rem;
            font-weight: bold;
            cursor: pointer;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card-header:hover {
            background-color: #f0f0f0;
        }

        .card-header::after {
            content: '\002B';
            font-size: 1.25rem;
            color: inherit;
            transition: transform 0.3s ease;
        }

        .card-header.active::after {
            content: '\2212';
            transform: rotate(180deg);
        }

        .faq-card:nth-child(1) .card-header {
            color: #a64d79;
        }

        .faq-card:nth-child(2) .card-header {
            color: #e68699;
        }

        .faq-card:nth-child(3) .card-header {
            color: #aa8dc3;
        }

        .faq-card:nth-child(4) .card-header {
            color: #613d75;
        }

        .faq-card:nth-child(5) .card-header {
            color: #850f8d;
        }

        .faq-card:nth-child(6) .card-header {
            color: #d2649a;
        }

        .section-title {
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            .card-header {
                font-size: 1.1rem;
                padding: 15px;
            }

            .faq-answer {
                padding: 15px;
            }
        }

        .top-buttons {
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            z-index: 2;
            padding: 10px 0;
            margin: 0;
            backdrop-filter: blur(10px);
            background: transparent;
        }

        .label {
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
            color: var(--highlight-color);
            margin: 0 15px;
            transition: font-size 0.3s ease, color 0.3s ease;
        }

        .label:hover,
        .label.active {
            color: var(--primary-color);
        }

        .label.active {
            font-size: 1.5rem;
        }

        .highlight {
            color: var(--highlight-color);
            font-weight: bold;
        }

        .separator {
            color: #fff;
            margin: 0 10px;
        }

        section {
            background-color: var(--section-bg-color);
            padding: 50px 0;
            text-align: center;
            color: #000;
        }

        #Home {
            background: var(--background-image-url) no-repeat center center fixed;
            background-size: cover;
            color: #fff;
            padding-top: 10px;
            padding-bottom: 100px;
            text-align: center;
        }


.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

.card i {
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#Benefits {
    background-color: var(--section-bg-color);
    padding: 50px 0;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 100px;
}

#Benefits h2 {
    color: var(--highlight-color);
    font-weight: bold;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

        #About,
        #Core,
        #Benefits,
        #Contact,
        #OurTeam {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 50px;
        }

        #About h2,
        #Core h2,
        #Benefits h2,
        #Contact h2,
        #OurTeam h2 {
            font-size: 2rem;
        }

        #About p,
        #Core p,
        #Benefits p,
        #Contact p,
        #OurTeam p {
            font-size: 1.5rem;
        }
section {
    padding: 50px 0;
    text-align: center;
}

#About, #Core, #Main, #Benefits, #FAQ, #OurTeam, #Contact {
    background: linear-gradient(to right, #56ccf2, #2f80ed);
}


        #Main {
            background-color: #86B6F6;
            padding: 50px 0;
            text-align: center;
            color: #000;
            margin-top: 100px;
            margin-bottom: 100px;
        }

        #Main h2 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #fff;
            font-weight: bold;
        }

        #Main p {
            font-size: 1.2rem;
            margin-bottom: 40px;
        }

        .features-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        .feature {
            background-color: #fff;
            color: #000;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            flex-basis: calc(25% - 40px);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .feature img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .feature-text {
            padding: 20px;
            text-align: center;
        }

        .feature h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .feature p {
            font-size: 1rem;
            color: #555;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .card {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card1 {
            color: var(--card1-color);
        }

        .card2 {
            color: var(--card2-color);
        }

        .card3 {
            color: var(--card3-color);
        }

        .card4 {
            color: var(--card4-color);
        }

        .card a {
            text-decoration: none;
            color: inherit;
            display: block;
        }

        :root {
            --primary-color: #86B6F6;
            --secondary-color: #fff;
            --text-color: #000;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        #OurTeam {
            background-color: var(--primary-color);
            padding: 50px 0;
            text-align: center;
            color: var(--secondary-color);
            margin-bottom: 100px;
        }

        #OurTeam h2 {
            color: var(--secondary-color);
            font-weight: bold;
            margin-bottom: 30px;
        }

        .team-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            padding: 0 20px;
        }

        .team-member {
            text-align: center;
            flex: 1 0 200px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            margin-bottom: 20px;
        }

        .team-member img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid var(--secondary-color);
            margin-bottom: 10px;
        }

        .team-member h3 {
            margin: 0;
            font-size: 1.2rem;
            color: var(--secondary-color);
        }

        .team-member p {
            margin: 5px 0;
            color: var(--text-color);
        }

        .team-member:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        @media (max-width: 768px) {
            .team-container {
                flex-direction: column;
            }

            .team-member {
                flex-basis: 100%;
            }
        }

        #Contact {
            margin-top: 100px;
        }

        #Core {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 100px;
        }

        p {
            color: var(--text-color);
        }