<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinical Staff Credentialing Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.0.1/css/countrySelect.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet">
<link rel="icon" href="https://i.postimg.cc/NjRpXSm3/favicon-438.png" target="_blank" type="image/png" sizes="512x512">

    <style>
        body {
background: url('https://th.bing.com/th/id/R.7dfa90c75a9df4362204e68f095be3a6?rik=viZCBEII3WZJyw&pid=ImgRaw&r=0');
            background-repeat: repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .form-container {
            max-width: 1000px;
            margin: 50px auto;
            padding: 20px;
            background: linear-gradient(to bottom, #0079BF, white);
            background-color: rgba(240, 240, 240, 0.5); /* Semi-transparent background */
            border-radius: 10px;
        }

        .form-section {
            margin-bottom: 20px;
        }

        .section-header {
            cursor: pointer;
            font-weight: bold;
            font-size: 23px;
        }

        .section-content {
            display: none;
            margin-top: 10px;
        }

        .expanded .section-content {
            display: block;
        }

        .section-header::after {
            content: "\25B6"; /* Unicode character for right arrow */
            margin-left: 5px;
        }

        .expanded .section-header::after {
            content: "\25BC"; /* Unicode character for down arrow */
        }

        .credentialing-form label {
            font-weight: bold;
        }

        .hidden {
            display: none;
        }

        .credentialing-form input[type="text"],
        .credentialing-form input[type="email"],
        .credentialing-form input[type="tel"],
        .credentialing-form input[type="password"],
        .credentialing-form select,
        .credentialing-form textarea {
            width: 97%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .credentialing-form button {
            background-color: #0e75b0;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .credentialing-form button:hover {
            opacity: 0.8;
        }

.required::after {
  content: " *";
  color: red;
}  


.modal {
            display: none; /* Hide modal by default */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4); /* Overlay background */
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 60%;


        }
.modal-button  {
            background-color: #0e75b0;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    </style>
  
</head>
<body>
<div class="form-container">
    <div class="credentialing-form">
        <form id="yourForm" action="/submit" method="post" enctype="multipart/form-data"> <!-- Add the form tag here -->

        <h1>Surgeons Credentialing Application</h1>

        

        <div class="form-section">
            <div class="section-header" onclick="toggleSection('contact-details')">Section 1: Contact Details</div>
            <div id="contact-details" class="section-content expanded">
<label for="full-name" class="required" >Full Name:</label>

        <input type="text" id="full-name" name="full-name" placeholder="Enter Full Name" required>
                <label for="phone" class="required">Phone:</label>
<input type="tel" id="phone-drop" name="phone-drop" placeholder="Enter phone" required><br>
                <label for="email" class="required">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter Email" required>
<label for="password" class="required">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
                <label for="country-location" class="required">Country:</label>
<input type="text" id="country-location" name="country-location" required><br><br>

                <label for="address" class="required">Address:</label>
                <input type="text" id="address" name="address" placeholder="Enter Address" required>
<label for="national-id" class="required" >National ID:</label>

        <input type="text" id="national-id" name="national-id" placeholder="Enter National ID" required>

<label id="surgery-type-label" for="surgery-type" class="required">Department:</label>
<select id="surgery-type" name="surgery-type" style="width: 200px;" required>

                <option value="General Surgery">General Surgery</option>
                <option value="ENT SURGERY">ENT SURGERY</option>
                <option value="Obstetrics and Gynaecology">Obstetrics and Gynaecology</option>
                <option value="Neurosurgery">Neurosurgery</option>
                <option value="Cardio-thoracic Surgery">Cardio-thoracic Surgery</option>
                <option value="Interventional Radiology">Interventional Radiology</option>
                <option value="Paediatric Cardiology">Paediatric Cardiology</option>
                <option value="Vascular Surgery">Vascular Surgery</option>
                <option value="Orthopaedic Surgery">Orthopaedic Surgery</option>
                <option value="Plastic and Reconstructive Surgery">Plastic and Reconstructive Surgery</option>
                <option value="Urology">Urology</option>
                <option value="Anesthesiology">Anesthesiology</option>
                <option value="Ophthalmology">Ophthalmology</option>
                <option value="Gastroenterology">Gastroenterology</option>
                <option value="Pulmonology">Pulmonology</option>
                <option value="Endocrinology">Endocrinology</option>
                <option value="Paediatric Surgery">Paediatric Surgery</option>
                <option value="Oral and Maxillofacial Surgery">Oral and Maxillofacial Surgery</option>
                <option value="Special Needs Dentistry">Special Needs Dentistry</option>
                <option value="Paediatric Dentistry">Paediatric Dentistry</option>
                <option value="Cardiology">Cardiology</option>
                <option value="Radiology">Radiology</option>

                <!-- Add more options for other types of surgery as needed -->
            </select><br>


 <label for="age" class="required">Age:</label>
                <input type="number" id="age" name="age" value="30" min="25" max="90" required><br><br>

<label for="gender" class="required">Gender:</label><br>
    <input type="radio" id="male" name="gender" value="male" required>
    <label for="male" >Male</label>
    <input type="radio" id="female" name="gender" value="female" required>
    <label for="female" >Female</label><br><br>
<label for="marital-status" class="required">Marital Status:</label><br>
    <select id="marital-status" name="marital-status" style="width: 150px;" required>
    <option value="" disabled selected>Choose</option>

        <option value="single">Single</option>
        <option value="married">Married</option>
        <option value="divorced">Divorced</option>
        <option value="separated">Separated</option>
        <option value="widowed">Widowed</option>
    </select><br><br>
            </div>
        </div>


        <div class="form-section">
            <div class="section-header" onclick="toggleSubsection('emergency-contact')">Section 2: Emergency Contact</div>
            <div id="emergency-contact" class="section-content expanded">
                <label for="emergency-name" class="required">Name:</label>
                <input type="text" id="emergency-name" name="emergency-name" placeholder="Enter Name" required>
                <label for="relationship" class="required">Relationship:</label>
<select id="relationship" name="relationship" style="width: 150px;" required onchange="checkOther()">
    <option value="parent">Parent</option>
    <option value="child">Child</option>
    <option value="spouse">Spouse</option>
    <option value="sibling">Sibling</option>
    <option value="grandparent">Grandparent</option>
    <option value="grandchild">Grandchild</option>
    <option value="aunt">Aunt</option>
    <option value="uncle">Uncle</option>
    <option value="cousin">Cousin</option>
    <option value="niece">Niece</option>
    <option value="nephew">Nephew</option>
    <option value="friend">Friend</option>
    <option value="colleague">Colleague</option>
    <option value="neighbor">Neighbor</option>
    <option value="other">Other</option> <!-- Add an option for "Other" -->
</select><br>
<input type="text" id="other-relationship" name="other-relationship" placeholder="Enter Other Relationship" style="display: none;"><br>
                <label for="emergency-phone" class="required">Phone:</label>
<input type="tel" id="emp-drop" name="emp-drop" placeholder="Enter phone" required>
            </div>
        </div>

        <!-- Section 3: Education History -->
        <div class="form-section">
            <div class="section-header" onclick="toggleSection('education-history')">Section 3: Education History</div>
            <div id="education-history" class="section-content expanded">
                <label for="highest-degree" class="required">Highest Degree Attained:</label>
<select id="highest-degree" name="highest-degree" style="width: 300px;" required onchange="checkOtherDeg()">
        <option value="">Select Highest Degree Attained</option>
        <option value="High School Diploma">High School Diploma</option>
        <option value="GED (General Educational Development)">GED (General Educational Development)</option>
        <option value="Vocational Certificate">Vocational Certificate</option>
        <option value="Associate's Degree">Associate's Degree</option>
        <option value="Bachelor's Degree">Bachelor's Degree</option>
        <option value="Master's Degree">Master's Degree</option>
        <option value="Doctorate Degree">Doctorate Degree</option>
        <option value="Professional Degree (e.g., MD, JD)">Professional Degree (e.g., MD, JD)</option>
        <option value="Other">Other</option>
    </select><br>
<input type="text" id="other-degree" name="other-degree" placeholder="Enter Other Degree" style="display: none;"><br>

<label for="edu-location" class="required">Country:</label>
<input type="text" id="edu-location" name="edu-location" required><br><br>
                <label for="institution" class="required">Name of Institution:</label>
                <input type="text" id="institution" name="institution" placeholder="Enter Name of Institution" required>
                <label for="major" class="required">Major/Field of Study:</label>
                <input type="text" id="major" name="major" placeholder="Enter Major/Field of Study" required>
                <label for="graduation-year" class="required">Graduation Year:</label>
                <input type="number" id="graduation-year" name="graduation-year" value="2024" min="1900" max="2100" required><br><br>

<label for="graduation-photo" class="required">Graduation Certification Photo:</label>
                <input type="file" id="graduation-photo" name="graduation-photo" accept="image/*" required><br><br>


            </div>
        </div>
<input type="hidden" id="graduation-weight" name="graduation-weight" value="0"> <!-- Hidden graduation weight input -->


        <!-- Section 4: Training and Certifications -->
        <div class="form-section">
            <div class="section-header" onclick="toggleSection('training-certifications')">Section 4: Training and Certifications</div>
            <div id="training-certifications" class="section-content expanded">
                <label for="specialized-training" class="required">Specialized Training:</label>
                <textarea id="specialized-training" name="specialized-training" placeholder="Enter Specialized Training" required></textarea>
                <label for="certification-name" class="required">Certification Name:</label>
                <input type="text" id="certification-name" name="certification-name" placeholder="Enter Certification Name" required>
                <label for="issuing-organization" class="required">Issuing Organization:</label>
                <input type="text" id="issuing-organization" name="issuing-organization" placeholder="Enter Issuing Organization" required>
                <label for="date-obtained" class="required">Year Obtained:</label>
                <input type="number" id="date-obtained" name="date-obtained" value="2024" min="1900" max="2100" required><br><br>
<label for="training-location" class="required">Issuing Country:</label>
<input type="text" id="training-location" name="training-location" required><br><br>
<label for="training-photo" class="required">Training Certification Photo:</label>
                <input type="file" id="training-photo" name="training-photo" accept="image/*" required><br><br>
<button id="no-training-button">I didn't take a training before</button>

                <button id="add-button" onclick="addCertificate()">Add Certificate</button>

            </div>
        </div>
<input type="hidden" id="weight-display" name="weight-display" value="2"> <!-- Hidden weight input -->

        <!-- Section 5: Professional Licensure Information -->
        <div class="form-section">
            <div class="section-header" onclick="toggleSection('professional-licensure')">Section 5: Professional Licensure Information</div>
            <div id="professional-licensure" class="section-content expanded">
                <label for="professional-license" class="required">Professional License:</label>
                <textarea id="professional-license" name="professional-license" placeholder="Enter Professional License" required></textarea>
                               
                <label for="license-number" class="required">License Number:</label>
                <input type="text" id="license-number" name="license-number" placeholder="Enter License Number" required>
                <label for="issuing-location" class="required">Issuing Country:</label>
<input type="text" id="issuing-location" name="issuing-location" required><br><br>
                <label for="expiration-date" class="required">Expiration Date:</label>
                <input type="date" id="expiration-date" name="expiration-date" required>
            </div>
        </div>


        <!-- Section 6: Work History -->
        <div class="form-section">
            <div class="section-header" onclick="toggleSection('work-history')">Section 6: Work History</div>
            <div id="work-history" class="section-content expanded">
                
                <div id="previous-employers">
                    <label for="previous-employer" >Previous Employers:</label>
                    <div class="previous-employer">
                        <label for="employer-name" class="required">Employer Name:</label>
                        <input type="text" id="employer-name" name="employer-name" placeholder="Enter Employer Name" required>
                        <label for="previous-position" class="required">Position:</label>
                        <input type="text" id="previous-position" name="previous-position" placeholder="Enter Previous Position" required>
<label for="work-location" class="required">Country:</label>
<input type="text" id="work-location" name="work-location" required><br><br>
                        <label for="previous-start-date" class="required">Start Date:</label>
                        <input type="date" id="previous-start-date" name="previous-start-date" required><br><br>
                        <label for="previous-end-date" class="required">End Date:</label>
                        <input type="date" id="previous-end-date" name="previous-end-date" required>
<br><br>
                    </div>
                </div>
<br>
<button id="no-emp-button">This is my first work place</button>

                <button id="add-emp" onclick="addPreviousEmployer()">Add Previous Employer</button>
            </div>
        </div>
<input type="hidden" id="work-weight" name="work-weight" value="2"> <!-- Hidden weight input -->

        
        <!-- Section 8: References -->
        <div class="form-section">
            <div class="form-section">
    <div class="section-header" onclick="toggleSection('references')">Section 7: References</div>
    <div id="references" class="section-content expanded">
        <label>Professional References (please provide names and contact details):</label>
        <div id="professional-references">
                <div>
                    <label for="reference1-name" class="required">Name:</label>
                    <input type="text" id="reference1-name" name="reference1-name" placeholder="Enter Name" required>
                    <label for="reference1-position" class="required">Position:</label>
                    <input type="text" id="reference1-position" name="reference1-position" placeholder="Enter Position" required>

                    <label for="reference1-phone" class="required">Phone:</label>
<input type="tel" id="ref-drop" name="ref-drop" placeholder="Enter phone" required><br><br>

                    <label for="reference1-email" class="required">Email:</label>
                    <input type="email" id="reference1-email" name="reference1-email" placeholder="Enter Email" required>
                </div>
                <button onclick="addProfessionalReference()">Add Professional Reference</button>
    </div>
</div>
<br>
<div class="form-section">
    <div class="section-header" onclick="toggleSection('preferred-time-slots')">Section 8: Preferred Time Slots</div>
    <div id="preferred-time-slots" class="section-content expanded">
        <div id="time-slots">
            <!-- Initially, only the first time slot will appear -->
            <div class="time-slot">
                <label for="day-dropdown-1" class="required">Day:</label>
<select id="day-dropdown-1" name="day-dropdown-1" style="width: 150px;">
  <option value="monday">Monday</option>
  <option value="tuesday">Tuesday</option>
  <option value="wednesday">Wednesday</option>
  <option value="thursday">Thursday</option>
  <option value="friday">Friday</option>
  <option value="saturday">Saturday</option>
  <option value="sunday">Sunday</option>
</select>
                <label for="slot1-from" class="required">From:</label>
                <input type="time" id="slot1-from" name="slot1-from" required>
                <label for="slot1-to" class="required">To:</label>
                <input type="time" id="slot1-to" name="slot1-to" required>
            </div>
        </div>
<br>
        <button onclick="addTimeSlot()">Add Time Slot</button>
    </div>
</div>

<br>            

        <button type="submit">Submit</button>

        </form>
    </div>

</div>

<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Please capture a screenshot of this screen for future reference, as the provided ID will be required for logging in.</h3> <!-- Title for the modal -->
        </div>
        <div class="modal-body">
            <h3 id="modal-text"></h3> <!-- Text for the ID -->
        </div>
        <div class="modal-footer">
            <button class="modal-button" id="nextBtn">Next</button> <!-- Button for redirecting -->
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS (requires jQuery) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Country Select JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.0.1/js/countrySelect.min.js"></script>

<!-- Select2 JS (optional, if you're using it) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

<!-- Intl Tel Input JS (optional, if you're using it) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js"></script>

<script>




function checkOther() {
    var relationshipDropdown = document.getElementById("relationship");
    var otherRelationshipTextBox = document.getElementById("other-relationship");

    if (relationshipDropdown.value === "other") {
        otherRelationshipTextBox.style.display = "block";
        otherRelationshipTextBox.setAttribute("required", "required");
    } else {
        otherRelationshipTextBox.style.display = "none";
        otherRelationshipTextBox.removeAttribute("required");
    }
}

function checkOtherDeg() {
    var degreeDropdown = document.getElementById("highest-degree");
    var otherDegreeTextBox = document.getElementById("other-degree");

    if (degreeDropdown.value === "Other") {
        otherDegreeTextBox.style.display = "block";
        otherDegreeTextBox.setAttribute("required", "required");
    } else {
        otherDegreeTextBox.style.display = "none";
        otherDegreeTextBox.removeAttribute("required");
    }
}


var countryCodeSelect = document.getElementById("phone-drop");

// Initialize intlTelInput
var iti = window.intlTelInput(countryCodeSelect, {
  separateDialCode: true,
  initialCountry: "auto",
  geoIpLookup: function(callback) {
    $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
      var countryCode = (resp && resp.country) ? resp.country : "";
      callback(countryCode);
    });
  }
});

// Populate the select element with country options
var countryData = iti.getSelectedCountryData();
countryCodeSelect.innerHTML = "<option value='" + countryData.dialCode + "'>" + countryData.name + "</option>";

iti.promise.then(function() {
  countryCodeSelect.addEventListener("countrychange", function() {
    var countryData = iti.getSelectedCountryData();
    countryCodeSelect.innerHTML = "<option value='" + countryData.dialCode + "'>" + countryData.name + "</option>";
  });
});

var countryCodeSelect2 = document.getElementById("emp-drop");

// Initialize intlTelInput
var iti2 = window.intlTelInput(countryCodeSelect2, {
  separateDialCode: true,
  initialCountry: "auto",
  geoIpLookup: function(callback) {
    $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
      var countryCode = (resp && resp.country) ? resp.country : "";
      callback(countryCode);
    });
  }
});

// Populate the select element with country options
var countryData2 = iti2.getSelectedCountryData();
countryCodeSelect2.innerHTML = "<option value='" + countryData2.dialCode + "'>" + countryData2.name + "</option>";

iti2.promise.then(function() {
  countryCodeSelect2.addEventListener("countrychange", function() {
    var countryData2 = iti2.getSelectedCountryData();
    countryCodeSelect2.innerHTML = "<option value='" + countryData2.dialCode + "'>" + countryData2.name + "</option>";
  });
});

var countryCodeSelect3 = document.getElementById("ref-drop");

// Initialize intlTelInput
var iti3 = window.intlTelInput(countryCodeSelect3, {
  separateDialCode: true,
  initialCountry: "auto",
  geoIpLookup: function(callback) {
    $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
      var countryCode = (resp && resp.country) ? resp.country : "";
      callback(countryCode);
    });
  }
});

// Populate the select element with country options
var countryData3 = iti3.getSelectedCountryData();
countryCodeSelect3.innerHTML = "<option value='" + countryData3.dialCode + "'>" + countryData3.name + "</option>";

iti3.promise.then(function() {
  countryCodeSelect3.addEventListener("countrychange", function() {
    var countryData3 = iti3.getSelectedCountryData();
    countryCodeSelect3.innerHTML = "<option value='" + countryData3.dialCode + "'>" + countryData3.name + "</option>";
  });
});

// Function to calculate graduation weight based on the selected year
function updateGraduationWeight() {
    const currentYear = new Date().getFullYear();
    const graduationYear = parseInt(document.getElementById('graduation-year').value);
    const graduationWeight = currentYear - graduationYear;

    // Update the hidden graduation weight input value
    var graduationWeightDisplay = document.getElementById('graduation-weight');
    graduationWeightDisplay.value = graduationWeight;
}

// Update graduation weight on page load and when the graduation year changes
document.getElementById('graduation-year').addEventListener('change', updateGraduationWeight);
document.addEventListener('DOMContentLoaded', updateGraduationWeight);



$(document).ready(function() {
    $("#issuing-location").countrySelect();
    $("#training-location").countrySelect();
    $("#country-location").countrySelect();
    $("#edu-location").countrySelect();
    $("#work-location").countrySelect();

    // Add other code here
});
document.addEventListener("DOMContentLoaded", function() {
    // Button element
    var noTrainingButton = document.getElementById("no-training-button");
    var addtrainButton = document.getElementById("add-button");



    // Fields related to training
    var specializedTrainingInput = document.getElementById("specialized-training");
    var certificationNameInput = document.getElementById("certification-name");
    var issuingOrgInput = document.getElementById("issuing-organization");
    var yearInput = document.getElementById("date-obtained");
var trainingLocationInput = document.getElementById("training-location");
    var trainingPhotoInput = document.getElementById("training-photo");

        // Add other training-related fields...

    // Event listener for the button click
    noTrainingButton.addEventListener("click", function() {
        
specializedTrainingInput.removeAttribute("required");
        certificationNameInput.removeAttribute("required");
        issuingOrgInput.removeAttribute("required");
        yearInput.removeAttribute("required");
        trainingLocationInput.removeAttribute("required");
        trainingPhotoInput.removeAttribute("required");

        // Remove required attribute from other training-related fields...

        // Set field values to "none"
        specializedTrainingInput.value = "none";
        certificationNameInput.value = "none";
        issuingOrgInput.value = "none";
        yearInput.value = "";
        trainingLocationInput.value = "none"; // Or you can set it to an empty string ("") if appropriate


        specializedTrainingInput.disabled = true;
        certificationNameInput.disabled = true;
        issuingOrgInput.disabled = true;
        yearInput.disabled = true;
trainingLocationInput.disabled = true;
// Find and disable the "Choose File" button
                trainingPhotoInput.style.display = "none";
                addtrainButton.style.display = "none";

                    });

// Button element
    var noEmployerButton = document.getElementById("no-emp-button");
    var addempButton = document.getElementById("add-emp");



    // Fields related to training
    var empNameInput = document.getElementById("employer-name");
    var empPosInput = document.getElementById("previous-position");
    var empConInput = document.getElementById("work-location");

    var empStartInput = document.getElementById("previous-start-date");
    var empEndInput = document.getElementById("previous-end-date");

        // Add other training-related fields...

    // Event listener for the button click
    noEmployerButton.addEventListener("click", function() {
        
empNameInput.removeAttribute("required");
        empPosInput.removeAttribute("required");
        empStartInput.removeAttribute("required");
        empEndInput.removeAttribute("required");
        empConInput.removeAttribute("required");

        // Remove required attribute from other training-related fields...

        // Set field values to "none"
        empNameInput.value = "none";
        empPosInput.value = "none";
        empStartInput.value = "none";
        empEndInput.value = "";
empConInput.value="";

        empNameInput.disabled = true;
        empPosInput.disabled = true;
        empStartInput.disabled = true;
        empEndInput.disabled = true;
empConInput.disabled=true;
addempButton.style.display = "none";
                    });

var radioButtons = document.querySelectorAll('input[type="radio"][name="gender"]');

    radioButtons.forEach(function(radioButton) {
        radioButton.addEventListener("change", function() {
            // Disable other radio buttons when one is selected
            radioButtons.forEach(function(btn) {
                if (btn !== radioButton) {
                    btn.disabled = radioButton.checked;
                }
            });
        });
    });

});


$(document).ready(function() {
    $('#yourForm').submit(function(event) {
        event.preventDefault();  // Prevent the default form submission

        // Manually submit the form
        this.submit();

        // Get the national ID from the form
        var nationalId = $('#national-id').val();

        // Call showModal after a brief delay to allow time for form submission
        setTimeout(function() {
$.ajax({
        url: '/get_unique_id',
        type: 'GET',
        data: { 'national-id': nationalId },
        success: function(response) {
            if (response.error) {
                alert(response.error);
            } else {
                $('#modal-text').text('Your unique ID is: ' + response.uniqueId);
                var modal = $('#myModal');
                modal.show();

                // Close modal on click outside or close button
               // Add click event listener to the Next button
                    $('#nextBtn').click(function() {
                        window.location.href = '/login'; // Redirect to the login page
                    });
              }
        },
        error: function(xhr, status, error) {
            console.error('Error fetching unique ID:', error);
            alert('An error occurred while fetching the unique ID. Please try again.');
        }
    });
        }, 1000); // Adjust the delay time as needed
    });
});

function showModal(nationalId) {
    $.ajax({
        url: '/get_unique_id',
        type: 'GET',
        data: { 'national-id': nationalId },
        success: function(response) {
            if (response.error) {
                alert(response.error);
            } else {
                $('#modal-text').text('Your unique ID is: ' + response.uniqueId);
                var modal = $('#myModal');
                modal.show();

                // Close modal on click outside or close button
                $('.close').click(function() {
                    modal.hide();
                });

                $(window).click(function(event) {
                    if (event.target == modal[0]) {
                        modal.hide();
                    }
                });
            }
        },
        error: function(xhr, status, error) {
            console.error('Error fetching unique ID:', error);
            alert('An error occurred while fetching the unique ID. Please try again.');
        }
    });
}



    function toggleSection(sectionId) {
        var section = document.getElementById(sectionId);
        if (section.style.display === "none") {
            section.style.display = "block";
            section.classList.add("expanded");
        } else {
            section.style.display = "none";
            section.classList.remove("expanded");
        }
    }


    function toggleSubsection(subsectionId) {
        var subsection = document.getElementById(subsectionId);
        if (subsection.style.display === "none") {
            subsection.style.display = "block";
            subsection.classList.add("expanded");
        } else {
            subsection.style.display = "none";
            subsection.classList.remove("expanded");
        }
    }
let workWeight = 2;
const weightPerWork = 2;
    function addPreviousEmployer() {
        var previousEmployersDiv = document.getElementById('previous-employers');
        var newEmployerDiv = document.createElement('div');
        newEmployerDiv.classList.add('previous-employer');

        var employerNameLabel = document.createElement('label');
employerNameLabel.classList.add('required');

        employerNameLabel.textContent = "Employer Name:";
newEmployerDiv.appendChild(employerNameLabel);

var employerNameInput = document.createElement('input');
employerNameInput.type = "text";
employerNameInput.classList.add('employer-name');
employerNameInput.name = "employer-name";
employerNameInput.placeholder = "Enter Employer Name";
newEmployerDiv.appendChild(employerNameInput);

var positionLabel = document.createElement('label');
positionLabel.classList.add('required');

positionLabel.textContent = "Position:";
newEmployerDiv.appendChild(positionLabel);

var positionInput = document.createElement('input');
positionInput.type = "text";
positionInput.classList.add('previous-position');
positionInput.name = "previous-position";
positionInput.placeholder = "Enter Previous Position";
newEmployerDiv.appendChild(positionInput);

var employerCountryLabel = document.createElement('label');
    employerCountryLabel.textContent = "Country:";
employerCountryLabel.classList.add('required');
newEmployerDiv.appendChild(employerCountryLabel);

    var employerCountryInput = document.createElement('input');
    employerCountryInput.type = "text";
    employerCountryInput.id = "work-location";
    employerCountryInput.name = "work-location";
    employerCountryInput.required = true;
newEmployerDiv.appendChild(employerCountryInput);
newEmployerDiv.appendChild(document.createElement('br'));
newEmployerDiv.appendChild(document.createElement('br'));

var startDateLabel = document.createElement('label');
startDateLabel.classList.add('required');

startDateLabel.textContent = "Start Date:";
newEmployerDiv.appendChild(startDateLabel);

var startDateInput = document.createElement('input');
startDateInput.type = "date";
startDateInput.classList.add('previous-start-date');
startDateInput.name = "previous-start-date";
newEmployerDiv.appendChild(startDateInput);
newEmployerDiv.appendChild(document.createElement('br'));
newEmployerDiv.appendChild(document.createElement('br'));

var endDateLabel = document.createElement('label');
endDateLabel.classList.add('required');

endDateLabel.textContent = "End Date:";
newEmployerDiv.appendChild(endDateLabel);

var endDateInput = document.createElement('input');
endDateInput.type = "date";
endDateInput.classList.add('previous-end-date');
endDateInput.name = "previous-end-date";
newEmployerDiv.appendChild(endDateInput);

var lineBreak1 = document.createElement('br');
    newEmployerDiv.appendChild(lineBreak1);
var lineBreak2 = document.createElement('br');
    newEmployerDiv.appendChild(lineBreak2);


previousEmployersDiv.appendChild(newEmployerDiv);
        $(employerCountryInput).countrySelect();
// Increase the weight by the defined amount
    workWeight += weightPerWeight;

    // Update the hidden weight input value
    var weightDisplay = document.getElementById('work-weight');
    weightDisplay.value = workWeight;

}



function addProfessionalReference() {
        var professionalReferencesDiv = document.getElementById('professional-references');
        var newReferenceDiv = document.createElement('div');
        newReferenceDiv.classList.add('professional-reference');

        var nameLabel = document.createElement('label');
        nameLabel.textContent = "Name:";
nameLabel.classList.add('required');

        newReferenceDiv.appendChild(nameLabel);

        var nameInput = document.createElement('input');
        nameInput.type = "text";
        nameInput.classList.add('reference-name');
        nameInput.name = "reference-name";
        nameInput.placeholder = "Enter Name";
        newReferenceDiv.appendChild(nameInput);

        var positionLabel = document.createElement('label');
        positionLabel.textContent = "Position:";
positionLabel.classList.add('required');

        newReferenceDiv.appendChild(positionLabel);

        var positionInput = document.createElement('input');
        positionInput.type = "text";
        positionInput.classList.add('reference-position');
        positionInput.name = "reference-position";
        positionInput.placeholder = "Enter Position";
        newReferenceDiv.appendChild(positionInput);


        var phoneLabel = document.createElement('label');
    phoneLabel.textContent = "Phone:";
phoneLabel.classList.add('required');

    phoneLabel.classList.add('required');
    newReferenceDiv.appendChild(phoneLabel);

    // Create input for phone
    var phoneInput = document.createElement('input');
    phoneInput.type = "tel";
    phoneInput.id = "ref-drop";
    phoneInput.placeholder = "Enter phone";
    phoneInput.required = true;
    newReferenceDiv.appendChild(phoneInput);
newReferenceDiv.appendChild(document.createElement('br'));
newReferenceDiv.appendChild(document.createElement('br'));
        var emailLabel = document.createElement('label');
        emailLabel.textContent = "Email:";
emailLabel.classList.add('required');

        newReferenceDiv.appendChild(emailLabel);

        var emailInput = document.createElement('input');
        emailInput.type = "text";
        emailInput.classList.add('reference-email');
        emailInput.name = "reference-email";
        emailInput.placeholder = "Enter Email";
        newReferenceDiv.appendChild(emailInput);

    professionalReferencesDiv.insertBefore(newReferenceDiv, professionalReferencesDiv.lastElementChild);


        initializeIntlTelInput(phoneInput);

    }
// Function to initialize intlTelInput
function initializeIntlTelInput(phoneInput) {
    var iti = window.intlTelInput(phoneInput, {
        separateDialCode: true,
        initialCountry: "auto",
        geoIpLookup: function(callback) {
            $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                var countryCode = (resp && resp.country) ? resp.country : "";
                callback(countryCode);
            });
        }
    });

    // Populate the select element with country options
    var countryData = iti.getSelectedCountryData();
    phoneInput.innerHTML = "<option value='" + countryData.dialCode + "'>" + countryData.name + "</option>";

    iti.promise.then(function() {
        phoneInput.addEventListener("countrychange", function() {
            var countryData = iti.getSelectedCountryData();
            phoneInput.innerHTML = "<option value='" + countryData.dialCode + "'>" + countryData.name + "</option>";
        });
    });
}
let weight = 2;
const weightPerCertificate = 2;

function addCertificate() {
var professionalReferencesDiv = document.getElementById('training-certifications');
    var addCertificateButton = document.querySelector('#training-certifications > button:last-child');
    var no_training = document.getElementById('no-training-button');

    var newReferenceDiv = document.createElement('div');
    newReferenceDiv.classList.add('training-certifications');

    var nameLabel = document.createElement('label');
    nameLabel.textContent = "Specialized Training:";
nameLabel.classList.add('required');

    var specializedTrainingTextarea = document.createElement('textarea');
    specializedTrainingTextarea.id = "specialized-training";
    specializedTrainingTextarea.name = "specialized-training";
    specializedTrainingTextarea.placeholder = "Enter Specialized Training";
    specializedTrainingTextarea.required = true;

    var certificationNameLabel = document.createElement('label');
    certificationNameLabel.textContent = "Certification Name:";
certificationNameLabel.classList.add('required');

    var certificationNameInput = document.createElement('input');
    certificationNameInput.type = "text";
    certificationNameInput.id = "certification-name";
    certificationNameInput.name = "certification-name";
    certificationNameInput.placeholder = "Enter Certification Name";
    certificationNameInput.required = true;

    var issuingOrganizationLabel = document.createElement('label');
    issuingOrganizationLabel.textContent = "Issuing Organization:";
issuingOrganizationLabel.classList.add('required');

    var issuingOrganizationInput = document.createElement('input');
    issuingOrganizationInput.type = "text";
    issuingOrganizationInput.id = "issuing-organization";
    issuingOrganizationInput.name = "issuing-organization";
    issuingOrganizationInput.placeholder = "Enter Issuing Organization";
    issuingOrganizationInput.required = true;

    var yearObtainedLabel = document.createElement('label');
    yearObtainedLabel.textContent = "Year Obtained:";
yearObtainedLabel.classList.add('required');

    var yearObtainedInput = document.createElement('input');
    yearObtainedInput.type = "number";
    yearObtainedInput.id = "date-obtained";
    yearObtainedInput.name = "date-obtained";
    yearObtainedInput.value = "2024";
    yearObtainedInput.min = "1900";
    yearObtainedInput.max = "2100";
    yearObtainedInput.required = true;

    var issuingCountryLabel = document.createElement('label');
    issuingCountryLabel.textContent = "Issuing Country:";
issuingCountryLabel.classList.add('required');

    var issuingCountryInput = document.createElement('input');
    issuingCountryInput.type = "text";
    issuingCountryInput.id = "training-location";
    issuingCountryInput.name = "training-location";
    issuingCountryInput.required = true;



    

    var trainingPhotoLabel = document.createElement('label');
    trainingPhotoLabel.textContent = "Training Certification Photo:";
trainingPhotoLabel.classList.add('required');

    var trainingPhotoInput = document.createElement('input');
    trainingPhotoInput.type = "file";
    trainingPhotoInput.id = "training-photo";
    trainingPhotoInput.name = "training-photo";
    trainingPhotoInput.accept = "image/*";
    trainingPhotoInput.required = true;

    // Append elements to the new reference div
    newReferenceDiv.appendChild(nameLabel);
    newReferenceDiv.appendChild(specializedTrainingTextarea);
    newReferenceDiv.appendChild(document.createElement('br'));
    newReferenceDiv.appendChild(certificationNameLabel);
    newReferenceDiv.appendChild(certificationNameInput);
    newReferenceDiv.appendChild(document.createElement('br'));
    newReferenceDiv.appendChild(issuingOrganizationLabel);
    newReferenceDiv.appendChild(issuingOrganizationInput);
    newReferenceDiv.appendChild(document.createElement('br'));
    newReferenceDiv.appendChild(yearObtainedLabel);
    newReferenceDiv.appendChild(yearObtainedInput);
    newReferenceDiv.appendChild(document.createElement('br'));
    newReferenceDiv.appendChild(document.createElement('br'));

    newReferenceDiv.appendChild(issuingCountryLabel);
    newReferenceDiv.appendChild(issuingCountryInput);
    newReferenceDiv.appendChild(document.createElement('br'));
    newReferenceDiv.appendChild(document.createElement('br'));

    newReferenceDiv.appendChild(trainingPhotoLabel);
    newReferenceDiv.appendChild(trainingPhotoInput);
    newReferenceDiv.appendChild(document.createElement('br'));


    // Insert the new reference div before the "Add Certificate" button
    professionalReferencesDiv.insertBefore(newReferenceDiv, addCertificateButton);
// Increase the weight by the defined amount
    weight += weightPerCertificate;

    // Update the hidden weight input value
    var weightDisplay = document.getElementById('weight-display');
    weightDisplay.value = weight;

        $(issuingCountryInput).countrySelect();

    // Hide the "I didn't take a training before" button
    no_training.style.display = "none";    }


var slotCount = 1;

    function addTimeSlot() {
        slotCount++; // Increment slot counter

        var timeSlotsDiv = document.getElementById('time-slots');
        var newTimeSlotDiv = document.createElement('div');
        newTimeSlotDiv.classList.add('time-slot');

// Create label for the dropdown
    var day = document.createElement('label');
    day.textContent = "Day:";
    day.classList.add('required'); // Add required class
        newTimeSlotDiv.appendChild(day);

    // Create select element for the dropdown
    var select = document.createElement('select');
    select.id = "day-dropdown-" + slotCount;
    select.name = "day-dropdown-" + slotCount;
    select.style.width = "150px";

    // Array of days
    var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

    // Create options for the dropdown
    days.forEach(function(day) {
        var option = document.createElement('option');
        option.value = day.toLowerCase(); // Set value to lowercase day name
        option.textContent = day;
        select.appendChild(option);
    });
        newTimeSlotDiv.appendChild(select);

        var fromLabel = document.createElement('label');
        fromLabel.textContent = "From:";
    fromLabel.classList.add('required'); // Add required class

        newTimeSlotDiv.appendChild(fromLabel);

        var fromInput = document.createElement('input');
        fromInput.type = "time";
        fromInput.classList.add('slot-from');
        fromInput.name = "slot" + slotCount + "-from";
        fromInput.id = "slot" + slotCount + "-from";

        newTimeSlotDiv.appendChild(fromInput);

        var toLabel = document.createElement('label');
        toLabel.textContent = "To:";
    toLabel.classList.add('required'); // Add required class

        newTimeSlotDiv.appendChild(toLabel);

        var toInput = document.createElement('input');
        toInput.type = "time";
        toInput.classList.add('slot-to');
        toInput.name = "slot" + slotCount + "-to";
        toInput.id = "slot" + slotCount + "-to";
        newTimeSlotDiv.appendChild(toInput);

var lineBreak1 = document.createElement('br');
    newTimeSlotDiv.appendChild(lineBreak1);
var lineBreak2 = document.createElement('br');
    newTimeSlotDiv.appendChild(lineBreak2);

    timeSlotsDiv.appendChild(newTimeSlotDiv); // Append the new time slot div as the last child

    }

</script>
</body>
</html>


